/* TEXT COLOUR */
* {
    color: white;
    font-family: Helvetica, 'Montserrat', sans-serif;
    font-size: 18px;
}

h1 {
   font-size: 5rem;
   font-weight: bold;
    font-style: italic;
    text-align: center;

}
:is(h2) {
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
:is(h3) {
  text-align: left;
  color: white;
  font-style: italic;
  font-weight: 700;
  font-size: 1.6rem
}
:is(h4, h5, h6) {
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 700;
  font-size: 1.6rem
}


/* MAIN PAGE PICTURE */
#img-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

img {
    height: 350px;
    margin-bottom: 100px;

}
.home-img {
     max-width: auto;

}

#rain-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

/* CENTER ALL ITEMS IN CONTENT BLOCK */
#content {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    width: 70%;
}

/* BACKGROUND COLOUR */

body {
    background-color: #212629;
    /* background-color: #212629; */
    /* background-image: url("../img/album_covers.png"); */
    z-index: 1
}


/* SPLIT ITEMS BETWEEN LEFT AND RIGHT */
#split-block {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-evenly
}
#right{
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-evenly
}

/* DECORATE THE SPOTIFY EMBED */
iframe {
    border: 10px solid white;
    background-color: white
}


/*
nav {
    background: linear-gradient(180deg, rgba(33,38,32,1) 30%, rgba(0,212,255,0) 100%);

#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(25,20,20, 0.9);
  z-index: 3;  Specify a stack order in case you're using a different order for other elements
}

#fade {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 70%, rgba(0,212,255,0) 100%);
}
*/

