{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Feels</h1>
    <h5>get in your feels</h5>
    <br />
<div id="img-box" class ="container">
    <img id="main-img" class="home-img" src="../static/img/album_covers.png" width = 100%/>
    <img id="rain-img" class="home-img" src="../static/img/rainbow_albums.jpeg"/>
</div>
<div id="split-block">
    <div id="left" >
            <a id="recommendation" class="btn btn-success text-light" style="text-decoration:none;" href="{{ url_for('quiz') }}" >Random Recommendation?</a>

    </div>
    <div id="right">
            <a id="popular" class="btn btn-success text-light" style="text-decoration:none;" href="{{ url_for('quiz_popular') }}">Popular Playlists!</a>
    </div>
</div>


<br />
{% endblock %}