{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
<h2>Feeling {{ final_mood }}!</h2>

        <h2>See some of the top rated playlists!</h2>


        <h6>top playlists for {{ final_mood }}:</h6>
<br/>
<br/>
        <ol>
            <li><a href="{{ url_for('popular_playlist_result', num=1 )}}">{{ top_scores_dict[1][0] }}</a> - Score: {{ top_scores_dict[1][4] }}</li>
            <li><a href="{{ url_for('popular_playlist_result', num=2 )}}">{{ top_scores_dict[2][0] }}</a> - Score: {{ top_scores_dict[2][4] }}</li>
            <li><a href="{{ url_for('popular_playlist_result', num=3 )}}">{{ top_scores_dict[3][0] }}</a> - Score: {{ top_scores_dict[3][4] }}</li>
<!--            <ul>-->
<!--                <li>{{ top_scores_dict[3][1] }}</li>-->
<!--                <li>{{ top_scores_dict[3][4] }}</li>-->
<!--            </ul>-->
        </ol>

<br/>

{% endblock %}