{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if name %}
    <br />
    <h1>Hello {{ name }}!</h1>
    <a class="btn btn-success text-light" style="text-decoration:none;" href="{{ url_for('quiz') }}">Take the Quiz!</a>
{% else  %}
    <br />
    <h1>Hello! Welcome to Spotify Mood Playlist Generator!</h1>
    <br />
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br />
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endif %}
<br />
{% endblock %}